.result{
  display: flex;
  width: fit-content;
  height: 70px;
  background-color: #c0c06b;
  justify-content: center;
  align-items: center;
  padding: 8px 12px;
}

.capsule-ok{
  background-color: lightgreen;
  height: 35px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  font-weight: bold;
  border: 2px solid #c0c06b;
  margin-right: 3px;
}

.capsule-error{
  background-color: red;
  height: 35px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  font-weight: bold;
  border: 2px solid #c0c06b;
  margin-right: 3px;
}

.capsule-not{
  background-color: grey;
  height: 35px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  font-weight: bold;
  border: 2px solid grey;
  margin-right: 3px;
}

.step{
  width: 150px;
  display: flex;
  justify-content: center;
}

.arrow{
  margin-right: 3px;
}
